@charset "ISO-8859-1";
.bloc_messagerie:nth-child(1) {

	width: 20vh;
	height:24vh;
	
    
	
}
body {
	background-image: url("images site APP/wallpaper_home.jpg");
    background-attachment: fixed; 
    background-repeat: no-repeat; 
}
.conteneur_messagerie {
	display: flex;
	
}
table
{
	background: white;
    border-collapse: collapse;
    width: 186vh;
}
td, th 
{
    border: 1px solid black;
    height: 8vh;
    text-align: center;
}
.content_mail p {
    margin: auto;
	width: 46vh;
	height: 8vh;
	
}
.content_mail a {
	
    color: black;
    text-decoration: none;
}
.content_mail p:hover {
	background-color: gray;
	text-decoration: underline ;
	color: red;
}
.fleche_1page{
	width: 3vh;
	height: 3vh;
}
.fleche_far_page{
	width: 3vh;
	height: 3vh;
}

caption {
	width: 186vh;
	border: 1px solid black;
	background-color: gray;
}

.menu_messagerie li a {
  display: block ;
  background: #3B4970;
  color: #fff ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
  padding: 4px 0 ;
  width: 20vh;
  height: 5vh;
  
}
.menu_messagerie li {
  color: #fff ;
  border: 1px solid #600 ;
  margin-bottom: 2vh ;
}
.menu_messagerie li a:hover, #navigation li a:focus, #navigation li a:active {
  background: #900 ;
  text-decoration: underline ;
}

.bloc_messagerie:nth-child(2) {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid black;
	overflow:auto;
	height: 85vh;
	width: 190vh;
}

.menu_messagerie{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu_messagerie:nth-child(1) {
	position: absolute;
	padding-left: 0vh;
	bottom: 65vh;
	
}
.menu_messagerie:nth-child(2) {
	position: absolute;
	bottom: 55vh;
}
.menu_messagerie:nth-child(3) {
	position: absolute;
	bottom: 35vh;
}
.menu_title {
	font-size: 2vh;
	position: absolute;
	left: 2vh;
	bottom: 66vh;
}
.contenu_messagerie p {
    margin: auto;
	width: 46vh;
	height: 8vh;
	
}
.contenu_messagerie p:hover{
	background-color: gray;
}