@charset "ISO-8859-1";
.objet {
	border: 1px solid black;
}
.date {
	border: 1px solid black;
}
.contenu {
	border: 1px solid black;
}
.afficher_mail {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.en_tête, .bas {
	display: flex;
}
